USE [HotelData]
GO
/****** Object:  Table [dbo].[Amenity]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenity](
	[AmenityID] [int] IDENTITY(1,1) NOT NULL,
	[AmenityName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Amenity] PRIMARY KEY CLUSTERED 
(
	[AmenityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerTierID] [int] NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[IdentityNumber] [char](12) NOT NULL,
	[PhoneNumber] [char](10) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTier]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTier](
	[CustomerTierID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerTierName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CustomerTier] PRIMARY KEY CLUSTERED 
(
	[CustomerTierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[ReportID] [int] NULL,
	[UserID] [int] NULL,
	[InvoiceDate] [smalldatetime] NOT NULL,
	[SurchargeRate] [int] NOT NULL,
	[Coef] [decimal](18, 2) NOT NULL,
	[TotalAmount] [money] NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RoomID] [int] NOT NULL,
	[CheckInDate] [smalldatetime] NOT NULL,
	[CheckOutDate] [smalldatetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CustomersCount] [int] NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation_Customer]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation_Customer](
	[CustomersCustomerID] [int] NOT NULL,
	[ReservationsReservationID] [int] NOT NULL,
 CONSTRAINT [PK_Reservation_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomersCustomerID] ASC,
	[ReservationsReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RevenueReport]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevenueReport](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[RevenueDate] [smalldatetime] NOT NULL,
	[UserID] [int] NULL,
	[RoomTierID] [int] NOT NULL,
	[TotalRevenue] [money] NOT NULL,
 CONSTRAINT [PK_RevenueReport] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomTierID] [int] NULL,
	[RoomNumber] [char](10) NOT NULL,
	[RoomState] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Amenity]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Amenity](
	[AmenitiesAmenityID] [int] NOT NULL,
	[RoomsRoomID] [int] NOT NULL,
 CONSTRAINT [PK_Room_Amenity] PRIMARY KEY CLUSTERED 
(
	[AmenitiesAmenityID] ASC,
	[RoomsRoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTier]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTier](
	[RoomTierID] [int] IDENTITY(1,1) NOT NULL,
	[RoomTierName] [nvarchar](50) NOT NULL,
	[RoomTierPrice] [money] NOT NULL,
 CONSTRAINT [PK_RoomTier] PRIMARY KEY CLUSTERED 
(
	[RoomTierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rule]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rule](
	[RuleID] [int] IDENTITY(1,1) NOT NULL,
	[RoomMaxCustomer] [int] NOT NULL,
	[SurchargeRate] [int] NOT NULL,
	[CustomerToApplySurchargeRate] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09-Jul-25 9:07:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[IdentityNumber] [char](12) NOT NULL,
	[RoleID] [int] NOT NULL,
	[WorkingDate] [smalldatetime] NOT NULL,
	[EmailAddress] [char](20) NOT NULL,
	[PhoneNumber] [char](10) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Amenity] ON 

INSERT [dbo].[Amenity] ([AmenityID], [AmenityName]) VALUES (1, N'Giường đơn')
INSERT [dbo].[Amenity] ([AmenityID], [AmenityName]) VALUES (2, N'Giường đôi')
INSERT [dbo].[Amenity] ([AmenityID], [AmenityName]) VALUES (3, N'Giường cỡ đại')
SET IDENTITY_INSERT [dbo].[Amenity] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [CustomerTierID], [CustomerName], [IdentityNumber], [PhoneNumber]) VALUES (1, 1, N'Nguyễn Thị Thu', N'012345678901', N'0901234567')
INSERT [dbo].[Customer] ([CustomerID], [CustomerTierID], [CustomerName], [IdentityNumber], [PhoneNumber]) VALUES (2, 1, N'Trần Văn Long', N'012345678902', N'0902345678')
INSERT [dbo].[Customer] ([CustomerID], [CustomerTierID], [CustomerName], [IdentityNumber], [PhoneNumber]) VALUES (3, 2, N'John Doe', N'012345678903', N'0903456789')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerTier] ON 

INSERT [dbo].[CustomerTier] ([CustomerTierID], [CustomerTierName]) VALUES (1, N'Nội địa')
INSERT [dbo].[CustomerTier] ([CustomerTierID], [CustomerTierName]) VALUES (2, N'Nước ngoài')
SET IDENTITY_INSERT [dbo].[CustomerTier] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([InvoiceID], [ReservationID], [ReportID], [UserID], [InvoiceDate], [SurchargeRate], [Coef], [TotalAmount], [PaymentMethod], [Status]) VALUES (1, 1, 1, 3, CAST(N'2025-05-03T00:00:00' AS SmallDateTime), 0, CAST(1.00 AS Decimal(18, 2)), 240000.0000, N'Cash', N'Paid')
INSERT [dbo].[Invoice] ([InvoiceID], [ReservationID], [ReportID], [UserID], [InvoiceDate], [SurchargeRate], [Coef], [TotalAmount], [PaymentMethod], [Status]) VALUES (2, 2, 2, 4, CAST(N'2025-05-08T00:00:00' AS SmallDateTime), 0, CAST(1.00 AS Decimal(18, 2)), 540000.0000, N'Credit card', N'Paid')
INSERT [dbo].[Invoice] ([InvoiceID], [ReservationID], [ReportID], [UserID], [InvoiceDate], [SurchargeRate], [Coef], [TotalAmount], [PaymentMethod], [Status]) VALUES (3, 3, 3, 5, CAST(N'2025-05-14T00:00:00' AS SmallDateTime), 0, CAST(1.00 AS Decimal(18, 2)), 1000000.0000, N'Cash', N'Paid')
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([ReservationID], [UserID], [RoomID], [CheckInDate], [CheckOutDate], [Status], [CustomersCount]) VALUES (1, 3, 1, CAST(N'2025-05-01T00:00:00' AS SmallDateTime), CAST(N'2025-05-03T00:00:00' AS SmallDateTime), N'CheckOut', 1)
INSERT [dbo].[Reservation] ([ReservationID], [UserID], [RoomID], [CheckInDate], [CheckOutDate], [Status], [CustomersCount]) VALUES (2, 4, 11, CAST(N'2025-05-05T00:00:00' AS SmallDateTime), CAST(N'2025-05-08T00:00:00' AS SmallDateTime), N'CheckOut', 2)
INSERT [dbo].[Reservation] ([ReservationID], [UserID], [RoomID], [CheckInDate], [CheckOutDate], [Status], [CustomersCount]) VALUES (3, 5, 26, CAST(N'2025-05-10T00:00:00' AS SmallDateTime), CAST(N'2025-05-14T00:00:00' AS SmallDateTime), N'CheckOut', 3)
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO
INSERT [dbo].[Reservation_Customer] ([CustomersCustomerID], [ReservationsReservationID]) VALUES (1, 1)
INSERT [dbo].[Reservation_Customer] ([CustomersCustomerID], [ReservationsReservationID]) VALUES (3, 2)
INSERT [dbo].[Reservation_Customer] ([CustomersCustomerID], [ReservationsReservationID]) VALUES (4, 2)
GO
SET IDENTITY_INSERT [dbo].[RevenueReport] ON 

INSERT [dbo].[RevenueReport] ([ReportID], [RevenueDate], [UserID], [RoomTierID], [TotalRevenue]) VALUES (1, CAST(N'2025-05-03T00:00:00' AS SmallDateTime), 3, 1, 240000.0000)
INSERT [dbo].[RevenueReport] ([ReportID], [RevenueDate], [UserID], [RoomTierID], [TotalRevenue]) VALUES (2, CAST(N'2025-05-08T00:00:00' AS SmallDateTime), 4, 2, 540000.0000)
INSERT [dbo].[RevenueReport] ([ReportID], [RevenueDate], [UserID], [RoomTierID], [TotalRevenue]) VALUES (3, CAST(N'2025-05-14T00:00:00' AS SmallDateTime), 5, 3, 1000000.0000)
GO
SET IDENTITY_INSERT [dbo].[RevenueReport] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Administrator')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Employee')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomID], [RoomTierID], [RoomNumber], [RoomState]) VALUES (1, 1, N'P101      ', N'Occupied')
INSERT [dbo].[Room] ([RoomID], [RoomTierID], [RoomNumber], [RoomState]) VALUES (2, 1, N'P102      ', N'Occupied')
INSERT [dbo].[Room] ([RoomID], [RoomTierID], [RoomNumber], [RoomState]) VALUES (3, 1, N'P103      ', N'Occupied')
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
INSERT [dbo].[Room_Amenity] ([AmenitiesAmenityID], [RoomsRoomID]) VALUES (1, 1)
INSERT [dbo].[Room_Amenity] ([AmenitiesAmenityID], [RoomsRoomID]) VALUES (4, 1)
INSERT [dbo].[Room_Amenity] ([AmenitiesAmenityID], [RoomsRoomID]) VALUES (5, 1)
GO
SET IDENTITY_INSERT [dbo].[RoomTier] ON 

INSERT [dbo].[RoomTier] ([RoomTierID], [RoomTierName], [RoomTierPrice]) VALUES (1, N'Phòng đơn', 100000.0000)
INSERT [dbo].[RoomTier] ([RoomTierID], [RoomTierName], [RoomTierPrice]) VALUES (2, N'Phòng đôi', 150000.0000)
INSERT [dbo].[RoomTier] ([RoomTierID], [RoomTierName], [RoomTierPrice]) VALUES (3, N'Phòng gia đình', 200000.0000)
SET IDENTITY_INSERT [dbo].[RoomTier] OFF
GO
SET IDENTITY_INSERT [dbo].[Rule] ON 

INSERT [dbo].[Rule] ([RuleID], [RoomMaxCustomer], [SurchargeRate], [CustomerToApplySurchargeRate]) VALUES (1, 3, 25, 3)
SET IDENTITY_INSERT [dbo].[Rule] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [Password], [IdentityNumber], [RoleID], [WorkingDate], [EmailAddress], [PhoneNumber]) VALUES (1, N'Lê Quý Bình', N'iw0fflZs/ZIOgEFYJEb058rjPt60NNBeqUTU50NmcA/RthNKfFBKAWBt0eSo8bhM', N'100000000001', 1, CAST(N'2020-01-01T00:00:00' AS SmallDateTime), N'lequyb@hotel.vn     ', N'0987654321')
INSERT [dbo].[User] ([UserID], [UserName], [Password], [IdentityNumber], [RoleID], [WorkingDate], [EmailAddress], [PhoneNumber]) VALUES (3, N'Đặng Văn Khoa', N'P2r8qd9pmFM7diCyj5Dph6RpZ/e/G5eRIxKNcgvXBhBmtWhYiI75sHpR66QkTYRW', N'100000000003', 2, CAST(N'2021-01-02T00:00:00' AS SmallDateTime), N'dangvank@hotel.vn   ', N'0987654323')
INSERT [dbo].[User] ([UserID], [UserName], [Password], [IdentityNumber], [RoleID], [WorkingDate], [EmailAddress], [PhoneNumber]) VALUES (4, N'Trần Thị Mai', N'j/S2Fc7pmziazetfPr1pF6egPFp9tf5uYxOkLCbm6G1Hf2dhpruujUK7iROiqoSv', N'100000000004', 2, CAST(N'2021-10-03T00:00:00' AS SmallDateTime), N'tranthim@hotel.vn   ', N'0987654324')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_CustomerTier_CustomerTierID] FOREIGN KEY([CustomerTierID])
REFERENCES [dbo].[CustomerTier] ([CustomerTierID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_CustomerTier_CustomerTierID]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Reservation_ReservationID] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation] ([ReservationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Reservation_ReservationID]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_RevenueReport_ReportID] FOREIGN KEY([ReportID])
REFERENCES [dbo].[RevenueReport] ([ReportID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_RevenueReport_ReportID]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_User_UserID]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Room_RoomID] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Room_RoomID]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_User_UserID]
GO
ALTER TABLE [dbo].[Reservation_Customer]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Customer_Customer_CustomersCustomerID] FOREIGN KEY([CustomersCustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation_Customer] CHECK CONSTRAINT [FK_Reservation_Customer_Customer_CustomersCustomerID]
GO
ALTER TABLE [dbo].[Reservation_Customer]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Customer_Reservation_ReservationsReservationID] FOREIGN KEY([ReservationsReservationID])
REFERENCES [dbo].[Reservation] ([ReservationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation_Customer] CHECK CONSTRAINT [FK_Reservation_Customer_Reservation_ReservationsReservationID]
GO
ALTER TABLE [dbo].[RevenueReport]  WITH CHECK ADD  CONSTRAINT [FK_RevenueReport_RoomTier_RoomTierID] FOREIGN KEY([RoomTierID])
REFERENCES [dbo].[RoomTier] ([RoomTierID])
GO
ALTER TABLE [dbo].[RevenueReport] CHECK CONSTRAINT [FK_RevenueReport_RoomTier_RoomTierID]
GO
ALTER TABLE [dbo].[RevenueReport]  WITH CHECK ADD  CONSTRAINT [FK_RevenueReport_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[RevenueReport] CHECK CONSTRAINT [FK_RevenueReport_User_UserID]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_RoomTier_RoomTierID] FOREIGN KEY([RoomTierID])
REFERENCES [dbo].[RoomTier] ([RoomTierID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_RoomTier_RoomTierID]
GO
ALTER TABLE [dbo].[Room_Amenity]  WITH CHECK ADD  CONSTRAINT [FK_Room_Amenity_Amenity_AmenitiesAmenityID] FOREIGN KEY([AmenitiesAmenityID])
REFERENCES [dbo].[Amenity] ([AmenityID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room_Amenity] CHECK CONSTRAINT [FK_Room_Amenity_Amenity_AmenitiesAmenityID]
GO
ALTER TABLE [dbo].[Room_Amenity]  WITH CHECK ADD  CONSTRAINT [FK_Room_Amenity_Room_RoomsRoomID] FOREIGN KEY([RoomsRoomID])
REFERENCES [dbo].[Room] ([RoomID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room_Amenity] CHECK CONSTRAINT [FK_Room_Amenity_Room_RoomsRoomID]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role_RoleID]
GO
